# Source https://help.github.com/articles/dealing-with-line-endings
# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.c text
*.h text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.dll binary
*.gif binary
*.ico binary

# Binary files
*.a       binary
*.afm     binary
*.bmp     binary
*.dat     binary
*.dbf     binary
*.exe     binary
*.frm     binary
*.gif     binary
*.icns    binary
*.ico     binary
*.jpg     binary
*.lbl     binary
*.lib     binary
*.mdb     binary
*.ng      binary
*.odt     binary
*.pdf     binary
*.pfb     binary
*.png     binary
*.sq3     binary
*.tif     binary

core.autocrlf=true